.container{
    padding-bottom: 20px;
    padding: 105px 0 20px 0;
    
}

.header {
    display: flex;
    justify-content: center;
    background: #eff5e4;
    width: 100%;
}

.content_notCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: 20px;
    width: 100%;
}